<h1>Welcome to Viewing Party</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  Praesent ac mauris eu libero ultricies vehicula sed finibus felis.
  Praesent at elementum mi, sed pharetra metus. Curabitur fermentum placerat tincidunt.
  Suspendisse potenti. Maecenas libero diam, consequat eget massa placerat, fringilla
  faucibus diam. Quisque posuere lorem sit amet eros commodo posuere. Maecenas volutpat, odio non
  fringilla laoreet, tellus tortor consequat orci, commodo gravida metus metus nec odio.
</p>

<%= link_to "New to Viewing Party? Register Here", new_user_path, method: :get %>
